/* Sidebar */

.table {
    --bs-table-bg: #fff !important;
}

input[type="text"], .form-select, textarea.form-control {
    background-color: #fff !important
}

/* .form-select {
    background-color: #fff !important
}

textarea.form-control {
    background-color: #fff !important
} */
